<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="emails" type="Digbyswift.Utils.Config.EmailConfig, Digbyswift.Utils" />
    </configSections>

	<!--emails>
        <emailGroup name="default">
            <email address="kieron@digbyswift.com" displayName="Kieron McIntyre" />
            <email address="kieron.mcintyre@digbyswift.com" />
        </emailGroup>
        <emailGroup name="test">
            <email address="test@hotmail.com" />
        </emailGroup>
    </emails-->
    
</configuration>